.css_login_det_label, .css_login_det_label:hover {text-align: left;vertical-align: middle;}
.css_login_det_line, .css_login_det_line:hover {height:0px;text-align: left;}
.css_name_det_label, .css_name_det_label:hover {text-align: left;vertical-align: middle;}
.css_name_det_line, .css_name_det_line:hover {height:0px;text-align: left;}
.css_email_det_label, .css_email_det_label:hover {text-align: left;vertical-align: middle;}
.css_email_det_line, .css_email_det_line:hover {height:0px;text-align: left;}
.css_active_det_label, .css_active_det_label:hover {text-align: left;vertical-align: middle;}
.css_active_det_line, .css_active_det_line:hover {height:0px;text-align: left;}
.css_priv_admin_det_label, .css_priv_admin_det_label:hover {text-align: left;vertical-align: middle;}
.css_priv_admin_det_line, .css_priv_admin_det_line:hover {height:0px;text-align: left;}
