.css_id_det_label, .css_id_det_label:hover {text-align: left;vertical-align: middle;}
.css_id_det_line, .css_id_det_line:hover {height:0px;text-align: left;}
.css_slug_det_label, .css_slug_det_label:hover {text-align: left;vertical-align: middle;}
.css_slug_det_line, .css_slug_det_line:hover {height:0px;text-align: left;}
.css_link_det_label, .css_link_det_label:hover {text-align: left;vertical-align: middle;}
.css_link_det_line, .css_link_det_line:hover {height:0px;text-align: left;}
.css_title_det_label, .css_title_det_label:hover {text-align: left;vertical-align: middle;}
.css_title_det_line, .css_title_det_line:hover {height:0px;text-align: left;}
.css_meta_det_label, .css_meta_det_label:hover {text-align: left;vertical-align: middle;}
.css_meta_det_line, .css_meta_det_line:hover {height:0px;text-align: left;}
.css_category_det_label, .css_category_det_label:hover {text-align: left;vertical-align: middle;}
.css_category_det_line, .css_category_det_line:hover {height:0px;text-align: left;}
.css_createdat_det_label, .css_createdat_det_label:hover {text-align: left;vertical-align: middle;}
.css_createdat_det_line, .css_createdat_det_line:hover {height:0px;text-align: left;}
.css_published_det_label, .css_published_det_label:hover {text-align: left;vertical-align: middle;}
.css_published_det_line, .css_published_det_line:hover {height:0px;text-align: left;}
